<nav class="navbar navbar-expand p-0 mt-2">
  <div class="container-fluid m-0 p-0 justify-content-center">
    <a class="navbar-brand m-0 px-3">
      <b>
        Bano Niccolò
      </b>
    </a>
    <ul class="navbar-nav">
      <li
        class="nav-item"
        (click)="activateLink(1)"
        [ngClass]="{ selected: activeLink == 1 }"
      >
        <span class="nav-link" routerLink="/findAll">Trova tutto</span>
      </li>
      <li
        class="nav-item"
        (click)="activateLink(2)"
        [ngClass]="{ selected: activeLink == 2 }"
      >
        <span class="nav-link" routerLink="/newJob">Nuova offerta</span>
      </li>
      <li
        class="nav-item"
        (click)="activateLink(3)"
        [ngClass]="{ selected: activeLink == 3 }"
      >
        <span class="nav-link" routerLink="/editJob">Modifica offerta</span>
      </li>
      <li
        class="nav-item"
        (click)="activateLink(4)"
        [ngClass]="{ selected: activeLink == 4 }"
      >
        <span class="nav-link" routerLink="/deleteJob">Elimina offerta</span>
      </li>
      <li
        class="nav-item"
        (click)="activateLink(5)"
        [ngClass]="{ selected: activeLink == 5 }"
      >
        <span class="nav-link" routerLink="/searchJob">Cerca offerte</span>
      </li>
    </ul>
  </div>
</nav>
